/* header */
.header {
    width: 100%;
    background: #252841;
    position: fixed;
    z-index: 2;
    padding: 0px 15px;
    /* height: 70px; */
}

.btn-hidden-menu {
    width: 72px;
    height: 72px;
    background: #AB75F0;
    margin-left: -15px;
    display: none;
}

.btn-hidden-menu a {
    border: none;
    width: 72px;
    height: 72px;
}

.btn-hidden-menu i {
    color: white;
    font-size: 35px;
    text-align: center;
    line-height: 56px;
}

/* end header */

/* search */

.search {
    background: #323653;
    width: 370px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-radius: 40px;
}

.search input {
    width: 335px;
    background: #323653;
    border: none;
    color: #8896BD;

}

.search i {
    color: #AB75F0;
    margin-right: 5px;
}

.search input:focus {
    outline: none;
}

.search-mobile i {
    color: #AB75F0;
    font-size: 23px;
    margin-right: 10px;
    display: none;
}

/* màu chữ input */
::placeholder {
    color: #8896BD;
    /* opacity: 1; Firefox */
}

/* end search */

/* login-button */

.bt-login button {
    background: #AB75F0;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 40px;
    padding: 7px 20px;
}

/* menu-left */

.menu-left {
    position: fixed;
    z-index: 1;
    background: #252841;
    width: 70px;
    min-height: 100vh;
    padding: 0px 10px;
}

.menu-left .icon {
    width: 45px;
    height: 45px;
    background: #2E3048;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0px;

}

.menu-left .icon i {
    color: #8896BD;
}

.menu-left .icon-group {
    margin-top: 75px;

}

/* end menu-left */

/* hidden-menu */
.hidden-menu {
    padding: 0px 21px;
}

.hidden-menu .text-hidden-menu {
    color: #8896BD;
    /* font-size: 18px; */
}

.icon-hidden-group {
    margin-top: 75px;
}

.hidden-menu .icon-hidden-menu {
    padding: 16px 0px;
}

.hidden-menu .icon-hidden-menu i {
    color: #8896BD;
    margin-right: 3px;
}

/* end hidden-menu */

/* courseDetail */

.courseDetail {
    background: #323653;
    width: 100%;
    height: 2100px;
    padding: 72px 0px 0px 70px;
}

.courseDetail .main {
    padding: 15px;
}

.courseDetail .main .card {
    background: #252841;
    border-radius: 10px;
}

.courseDetail .main .left1 {
    padding: 40px;
}

.courseDetail .main .left2 {
    margin-top: -270px;
}

.courseDetail .main .right {
    padding: 40px;
}

/* end courseDetail */

/* text-card */
.main .left1 .text-card .best-seller {
    width: 138px;
    height: 45px;
    background-color: #AB75F0;
    border-radius: 40px;
    color: white;
    margin-top: 25px;
}

.main .left2 .text_ {
    text-align: center;
    background: #F6DBFF;
    padding: 20px 0px;
    font-weight: 500;
}

.main .left2 .text-p {
    padding: 40px;
    color: white;
}

.main .left2 .text_ i {
    margin-right: 10px;
}

.main .left2 .text-left2 {
    display: flex;
    flex-wrap: wrap;
}

.main .left2 .text-left2 .text_1 {
    border-top-left-radius: 10px;
}

.main .left2 .text-left2 .text_2 {
    border-left: 2px solid black;
    border-right: 1px solid black;
}

.main .left2 .text-left2 .text_3 {
    border-left: 1.5px solid black;
    border-right: 2px solid black;
}

.main .left2 .text-left2 .text_4 {
    border-top-right-radius: 10px;
}

.main .right .text-card {
    color: white;
}

.main .right .text-card h1 {
    margin: 25px 0px;
}

.main .right .text-card h2 {
    margin-bottom: 25px;
}

.main .right .text-ifo {
    display: flex;
    align-items: center;
    border-top: 2px dotted #AB75F0;
    padding: 15px 0px;
}

.main .right .text-ifo i {
    margin-right: 10px;
    color: #AB75F0;
}

.main .right .text-ifo a {
    color: #AB75F0;
}

.main .right .text-ifo a:hover {
    color: #AB75F0;
}

.main .right .text-ifo span {
    color: white;
}

/* end text-card */

/* btn-text-card */
.main .right .text-card .btn1 {
    background-color: #AB75F0;
    color: white;
    padding: 20px 20px;
    width: 100%;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 13px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.main .right .text-card .btn1::before {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) rotate(60deg);
    background-color: #27043a;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
}

.main .right .text-card .btn1:hover::before {
    height: 440%;
}

.main .right .text-card .btn2 {
    background-color: white;
    color: #AB75F0;
    padding: 20px 20px;
    width: 100%;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 2px solid #AB75F0;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.main .right .text-card .btn2::before {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) rotate(60deg);
    background-color: #AB75F0;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
}

.main .right .text-card .btn2:hover::before {
    height: 440%;
}

.main .right .text-card .btn2:hover {
    color: white;
}

.main .right .text-card .btn3 {
    /* background-color: #F6DBFF; */
    background-color: #e9d8ff;
    color: #AB75F0;
    padding: 20px 20px;
    width: 100%;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 30px;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.main .right .text-card .btn3::before {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) rotate(60deg);
    background-color: #AB75F0;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
}

.main .right .text-card .btn3:hover::before {
    height: 440%;
}

.main .right .text-card .btn3:hover {
    color: white;
}

.main .right .text-card .btn3 i {
    margin-right: 10px;
}

/* end btn-text-card */


@media screen and (max-width:1024px) {

    /* carosel header  */
    .btn-hidden-menu {
        display: block;
    }

    .logo {
        display: none;
    }

    .menu-left {
        min-height: 0vh;
    }

    .icon-group {
        display: none;
    }

    /* courseDetail */
    .courseDetail {
        padding: 72px 0px 0px 0px;
    }

    .courseDetail .main .left2 {
        margin-top: -350px;
    }


}

@media screen and (max-width:800px) {
    .main .left2 .text-left2 .text_ {
        font-size: 12px;
    }

    .courseDetail .main .left2 {
        margin-top: -500px;
    }

}

@media screen and (max-width:600px) {
    .search {
        width: 220px;
    }

    .search input {
        width: 160px;
    }
}

@media screen and (max-width:428px) {

    /* carosel search  */
    .courseDetail {
        height: 2850px;
    }

    .search {
        display: none;
    }

    .search-mobile i {
        display: block;
    }

    /* left2 */
    .courseDetail .main .left2 {
        margin-top: 20px;
    }

    .main .left2 .text-left2 .text_1 {
        border-bottom: 1px solid black;
    }

    .main .left2 .text-left2 .text_2 {
        border-bottom: 1px solid black;
        border-top-right-radius: 10px;
        border-right: none;
        border-left: 1px solid black;
    }

    .main .left2 .text-left2 .text_3 {
        border-left: none;
        border-right: none;
    }

    .main .left2 .text-left2 .text_4 {
        border-top-right-radius: 0px;
        border-left: 1px solid black;
    }


}