.header {
    width: 100%;
    background: #252841;
    position: fixed;
    z-index: 2;
    padding: 0px 15px;
}

/* search */

.input {
    background: #323653;
    width: 370px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-radius: 40px;
}

.input input {
    width: 335px;
    background: #323653;
    border: none;
    color: #8896BD;

}

.input input:focus {
    outline: none;
}

/* màu chữ input */
::placeholder {
    color: #8896BD;
    /* opacity: 1; Firefox */
}

.input i {
    color: #AB75F0;
    margin-right: 5px;
}

/* login-button */

.bt-login button {
    background: #AB75F0;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 40px;
    padding: 7px 20px;
}

/* menu-left */

.menu-left {
    position: fixed;
    z-index: 1;
    background: #252841;
    width: 70px;
    min-height: 100vh;
    padding: 0px 10px;
}
.header{
    
}
.menu-left .icon {
    width: 45px;
    height: 45px;
    background: #2E3048;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0px;

}

.menu-left .icon i {
    color: #8896BD;
}

.menu-left .icon-group {
    margin-top: 75px;

}